.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Test screenshots (generated during test runs)
.test/

### IntelliJ IDEA ###
.idea/**
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/tiny-doc/src/docs/asciidoc/dependencies/
/tiny-doc/src/docs/asciidoc/sample/game-example
/tiny-doc/src/docs/asciidoc/sample/sfx-editor

.kotlin