name: Build and tests on every commit
# This workflow is triggered on pushes to the repository.
on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: Cache gradle
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'
      - name: build
        run: ./gradlew ktlintCheck build -Pversion="${{github.ref_name}}"
      - name: Release "${{github.ref_name}}"
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            tiny-cli/build/distributions/tiny-cli-${{github.ref_name}}.zip
            tiny-cli/build/distributions/tiny-cli-${{github.ref_name}}.tar
      - name: Update documentation sample
        run: |
          unzip tiny-cli/build/distributions/tiny-cli-${{github.ref_name}}.zip
          tiny-cli-${{github.ref_name}}/bin/tiny-cli docs --output tiny-doc/src/docs/asciidoc/dependencies/tiny-cli-commands.adoc
          tiny-cli-${{github.ref_name}}/bin/tiny-cli export tiny-sample
          unzip -o -d tiny-doc/src/docs/asciidoc/sample/game-example tiny-sample/tiny-export.zip
          tiny-cli-${{github.ref_name}}/bin/tiny-cli export tiny-cli/src/main/resources/sfx
          unzip -o -d tiny-doc/src/docs/asciidoc/sample/sfx-editor tiny-cli/src/main/resources/sfx/tiny-export.zip
      - name: Build examples and generate Asciidoctor HTML pages
        run: ./gradlew asciidoctor -Pversion="${{github.ref_name}}"
      - name: Copy generated content into gh-pages.
        uses: peaceiris/actions-gh-pages@v3
        if: startsWith(github.ref, 'refs/tags/')
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./tiny-doc/build/docs/asciidoc

env:
  GRADLE_OPTS: -Dorg.gradle.configureondemand=true -Dorg.gradle.parallel=true -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx3g -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"
